.container {
    display: flex;
    justify-content:space-between;
    background-color: #42934a;
    border-radius: 5px;
    padding: 5% 10%;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
}